@import "tailwindcss";

:root {
    /* Cores da logo Avalanches */
  --cor-primaria: #B43F6F;   /* O rosa/magenta */
  --cor-secundaria: #FACC15; /* O amarelo/dourado */
}

h1 {
  text-align: center;
  color: var(--cor-primaria);
}

/* Adicione esta classe para os cards */
.produto-card {
  border: 1px solid #B43F6F; /* Adiciona uma borda cinza clara */
  padding: 16px;          /* Adiciona um espaço interno (preenchimento) */
  margin: 12px;           /* Adiciona um espaço externo (margem) */
  border-radius: 8px;     /* Arredonda os cantos */
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Adicione esta nova classe */
.produtos-grid {
  display: grid; /* Ativa o layout de grade */
  grid-template-columns: 1fr 1fr; /* Cria duas colunas de tamanho igual */
  gap: 16px; /* Adiciona um espaço entre os cards */
}
.preco {
  color: var(--cor-secundaria);
  font-weight: bold;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px; /* Adiciona um espaço abaixo da logo */
}