html {
    font-family: Arial, sans-serif; 
    background-color: #999999; /* O seu off-white */
    color: #333333;

    /* ESTA É A LINHA QUE CORRIGE O PROBLEMA */
    min-height: 100vh; 
}

body {
    margin: 0;
    padding: 0;
}